@import "bourbon"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	font-size: 16px
	min-width: 280px
	position: relative
	line-height: 1.6
	font-family: $default-font
	overflow-x: hidden


form[action="mail.php"]
	background-color: $form-bgcolor
	border-top: 6px solid transparent
	-moz-border-image: -moz-linear-gradient(left, #009AE1 0%, #CA0867 100%)
	-webkit-border-image: -webkit-linear-gradient(left, #009AE1 0%, #CA0867 100%)
	border-image: linear-gradient(to right, #009AE1 0%, #CA0867 100%)
	border-image-slice: 1
	padding: 10px 10px 20px 10px
	label[for="tips"]
		font-weight: bold
	h1,h3
		text-align: center
	h1
		text-transform: uppercase
		margin-bottom: 0
	h3
		text-transform: capitalize
		font-weight: normal
		margin-top: 0
	p.agreement
		font-weight: 100
		font-size: 0.8em
		color: #337ab7
	input[type="text"], .tips_agreement, .button_basic, p.agreement
		display: block
		margin: 10px auto
		width: 90%
		padding: 10px
	input[type="text"]
		border: 1px solid rgba(227,219,222, 1)
		color: #666666
		&::-webkit-input-placeholder
			color: #E5E5E5
		&::-moz-placeholder
			color: #E5E5E5
		&:-moz-placeholder
			color: #E5E5E5
		&:-ms-input-placeholder
			color: #E5E5E5
.counter
	text-transform: uppercase
	text-align: center
	background-color: $accent-bgcolor
	padding: 20px
	color: $default-bgcolor
	.counter_number
		font-family: droid
		font-size: 5em
		line-height: 1em
		letter-spacing: 0.1em

.button_basic
	background-color: $blue
	color: $default-bgcolor
	font-weight: bold
	border: none
.email_block, .phone_block
	display: inline-block
	padding: 20px
header nav
	position: relative

	width: 100%
	background-color: lighten($accent-bgcolor, 5%)
	color: $default-bgcolor
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	ul
		display: flex
		margin: 0 20px
		padding-left: 0px
		list-style: none
		flex-wrap: nowrap
		justify-content: space-between
		li
			padding: 10px
			a, a:hover, a:focus
				color: $default-bgcolor
				text-decoration: none
				font-size: 1.5em
				text-transform: uppercase
			&:hover
				background-color: darken($accent_bgcolor, 5%)

.benefitBox
  margin-top: 50px
  &__img
      width: 48px
      height: 48px
      background-color: $accent-bgcolor

      &--cup
        -webkit-mask: url(img/cup.svg) no-repeat
        mask: url(img/cup.svg) no-repeat
        -webkit-mask-size: cover
        mask-size: cover
      &--lightbulb
        -webkit-mask: url(img/lightbulb.svg) no-repeat
        mask: url(img/lightbulb.svg) no-repeat
        -webkit-mask-size: cover
        mask-size: cover
      &--goal
        -webkit-mask: url(img/target.svg) no-repeat
        mask: url(img/target.svg) no-repeat
        -webkit-mask-size: cover
        mask-size: cover
      &--clock
        -webkit-mask: url(img/clock.svg) no-repeat
        mask: url(img/clock.svg) no-repeat
        -webkit-mask-size: cover
        mask-size: cover