@import "bourbon"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	font-size: 16px
	min-width: 280px
	position: relative
	line-height: 1.6
	font-family: $default-font



form[action="mail.php"]
	background-color: $form-bgcolor
	border-top: 6px solid transparent
	-moz-border-image: -moz-linear-gradient(to right, #009AE1 0%, #CA0867 100%)
	-webkit-border-image: -webkit-linear-gradient(to right, #009AE1 0%, #CA0867 100%)
	border-image: linear-gradient(to right, #009AE1 0%, #CA0867 100%)

	padding: 10px 10px 20px 10px
	label[for="tips"]
		font-weight: bold
	h1,h3
		text-align: center
	h1
		text-transform: uppercase
		margin-bottom: 0
	h3
		text-transform: capitalize
		font-weight: normal
		margin-top: 0
	p.agreement
		font-weight: 100
		font-size: 0.8em
		color: #337ab7
	input[type="text"], .tips_agreement, .button_basic, p.agreement
		display: block
		margin: 10px auto
		width: 90%
		padding: 10px
	input[type="text"]
		border: 1px solid rgba(227,219,222, 1)
		color: #666666
		&::-webkit-input-placeholder
			color: #E5E5E5
		&::-moz-placeholder
			color: #E5E5E5
		&:-moz-placeholder
			color: #E5E5E5
		&:-ms-input-placeholder
			color: #E5E5E5
.counter
	text-transform: uppercase
	text-align: center
	background-color: $accent-bgcolor
	padding: 20px
	color: $default-bgcolor
	.counter_number
		font-family: droid
		font-size: 5em
		line-height: 1em
		letter-spacing: 0.1em

.button_basic
	background-color: $blue
	color: $default-bgcolor
	font-weight: bold
	border: none
.email_block, .phone_block
	display: inline-block
	padding: 20px
header nav
	position: relative

	width: 100%
	background-color: lighten($accent-bgcolor, 5%)
	color: $default-bgcolor
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	ul
		display: flex
		margin: 0 20px
		padding-left: 0
		list-style: none
		flex-wrap: nowrap
		justify-content: space-between
		li
			padding: 10px
			a, a:hover, a:focus
				color: $default-bgcolor
				text-decoration: none
				font-size: 1.5em
				text-transform: uppercase
			&:hover
				background-color: darken($accent_bgcolor, 5%)


@media screen and (min-width: 692px)
	.pageHeader
		background-image: url(img/coffee.jpeg)
		background-size: cover
		background-repeat: no-repeat
		&__row
		&--tableView
			display: table
		&__moto
			display: block
			position: absolute
			top: 50%
			left: 20%
			width: 60%
			color: $default-bgcolor
			a, a:hover, a:active, a:focus
				color: $default-bgcolor
				text-decoration: none
		&__leftColumn--tableView,
		&__rightColumn--tableView
			display: table-cell
			vertical-align: top
			float: none
.benefitsSection

	&__line
		height: 1px
		background: linear-gradient(left, rgba(224,224,224,0.1) 0%, rgba(224,224,224,1) 50%, rgba(224,224,224,0.1) 100%);
		width: 100%
		&--second
			margin-top: 5px
		&--first
			margin-bottom: 0
.lastPicWrapper
	&__lastPic
		display: block
		margin: 100px auto 0 auto
		width: 80%
	&__img
		position: absolute
		width: 48px
		height: 48px
		background-color: $accent-bgcolor
		background-image: url(img/add.svg)
		-webkit-background-size: 50%
		background-size: 70%
		background-repeat: no-repeat
		background-position: center
		-webkit-border-radius: 50%
		-moz-border-radius: 50%
		border-radius: 50%
		border: 3px solid darken($accent-bgcolor, 20%)
		cursor: pointer
		&:hover
			background-color: lighten($accent-bgcolor, 20%)
		&--first
			top: 45%
			left: 25%
		&--second
			top: 25%
			left: 55%
		&--third
			top: 40%
			left: 80%
.benefitBox
  margin-top: 50px
  &__img
      width: 48px
      height: 48px
      background-color: $accent-bgcolor
      &--cup
        -webkit-mask: url(img/cup.svg) no-repeat
        mask: url(img/cup.svg) no-repeat
        -webkit-mask-size: cover
        mask-size: cover
      &--lightbulb
        -webkit-mask: url(img/lightbulb.svg) no-repeat
        mask: url(img/lightbulb.svg) no-repeat
        -webkit-mask-size: cover
        mask-size: cover
      &--goal
        -webkit-mask: url(img/target.svg) no-repeat
        mask: url(img/target.svg) no-repeat
        -webkit-mask-size: cover
        mask-size: cover
      &--clock
        -webkit-mask: url(img/clock.svg) no-repeat
        mask: url(img/clock.svg) no-repeat
        -webkit-mask-size: cover
        mask-size: cover
.subscribeProvocator
	margin-top: 50px
	&__button
		text-transform: uppercase
		border: 1px solid $accent-bgcolor
		min-width: 50px
		padding: 10px
		margin-top: auto
		color: $accent_bgcolor
		text-decoration: none
		font-weight: bold
		border-radius: 4px
		transition: all 0.3s ease
		&:hover
			text-decoration: none
			color: $default-bgcolor
			background-color: $accent-bgcolor

.tip
	&__content
		display: none
		position: fixed
		top: 0
		width: 300px
		color: #fff
		background-color:  $accent-bgcolor
		padding: 10px
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
		box-sizing: border-box